SUPABASE_URL=https://sqbwsrayjhxigcalpmhi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxYndzcmF5amh4aWdjYWxwbWhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxOTY2MjcsImV4cCI6MjA5NTc3MjYyN30.7jzSMZ7jeptItB8hNoN1lZ0S9-keWJ1z5A8j99dzAjc
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNxYndzcmF5amh4aWdjYWxwbWhpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDE5NjYyNywiZXhwIjoyMDk1NzcyNjI3fQ.dXgBweukBPX3d7VkbLsn9bfMhm1_TY8XAgHIit4L8s4